/* ==========================================================================
   MEDIA QUERIES - b
   ========================================================================== */
/*
 * 0 - 600: Phone
 * 600 - 900: Tablet Portrait
 * 900 - 1200: Tablet Landscape
 * 1800 + : Big Desktop 
*/
/*
 * $breakpoint argument choices:
 * 
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 */
/* ==========================================================================
   MEDIA QUERIES - e
   ========================================================================== */
/*
* Add vanilla CSS variables.
*
* It is possible to apply logic to these
* different from SASS ones.
*/
:root {
  /* Colors */
  --color-primary-300: #654062;
  --color-primary-400: #ff6348;
  --color-primary-700: #0b090a;
  --color-secondary-300: #e1e5e6;
  --color-secondary-400: #dfe6e9;
  --color-secondary-700: #747d8c;
  --color-affluent-300: #3498db;
  --color-affluent-400: #ffa502;
  --color-black: #000;
  /* Sizes */
  --font-size-300: 1.6rem;
  --font-size-400: 2rem;
  --font-size-700: 3rem;
  /* Positioning */
  --padding-section: 5rem;
  --padding-cards: 3.5rem;
  /* Spacing */
  --default-section-size: 85rem;
  /* Other */
  --default-border-radius: 10px; }

/* Colors */
/* Positioning */
/* Other */
/* Display & Box Model */
/* Positioning */
/* Other */
/* ==========================================================================
   MY RESETS :) - b
   ========================================================================== */
html {
  /* Other */
  font-size: 55%;
  scroll-padding-top: 20rem;
  background-color: var(--color-black);
  /* Medias Queries - b
   ========================================================================== */
  /* Medias Queries - e
   ========================================================================== */ }
  html main {
    /* Display & Box Model */
    /* Positioning */
    position: relative;
    padding: var(--padding-section);
    /* Other */ }
  html main > hr {
    /* Display & Box Model */
    max-width: 50rem;
    /* Other */
    border-radius: 100px;
    opacity: 0.15; }
  @media only screen and (min-width: 112.5em) {
    html {
      /* Other */
      font-size: 62.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      /* Other */
      font-size: 45%; } }

/*
* Add custom default typography.
*
* This overwrites default values
* with mine.
*/
body {
  /* Positioning */
  z-index: 500;
  /* Other */
  color: var(--color-secondary-400);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-300);
  font-weight: 400;
  line-height: 1.7; }

/* ==========================================================================
   MY RESETS :) - e
   ========================================================================== */
/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - b
   ========================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - e
   ========================================================================== */
/* ==========================================================================
   ABSTRACTS - b
   ========================================================================== */
/*
  ==========================================================================
  ELEMENT STYLES - b
  ==========================================================================
*/
.default_link_style, .navigation__list li a:link, .navigation__list li a:visited, .navigation__list li a:active {
  /* Other */
  text-decoration: none;
  color: white;
  transition: all 1s; }

/*
  ==========================================================================
  ELEMENT STYLES - E
  ==========================================================================
*/
/* ==========================================================================
   ABSTRACTS - e
   ========================================================================== */
/* ==========================================================================
   BASE - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.primary-text {
  /* Other */
  font-size: 6rem;
  font-weight: 400;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .primary-text {
      font-size: 5rem; } }
  .primary-text__gradient--300 {
    background-image: linear-gradient(to right bottom, #ffa502, #ff6348 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.secondary-text {
  /* Other */
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2; }
  @media only screen and (max-width: 37.5em) {
    .secondary-text {
      font-size: 2rem; } }
  .secondary-text__affluent {
    color: var(--color-affluent-400); }
  .secondary-text__gradient--300 {
    background-image: linear-gradient(to right bottom, #ffa502, #ff6348 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.tertiary-text {
  /* Other */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2; }
  @media only screen and (max-width: 37.5em) {
    .tertiary-text {
      font-size: 1.5rem; } }
  .tertiary-text__affluent {
    color: var(--color-affluent-400); }

.paragraph {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.8rem;
  opacity: 1; }
  .paragraph-tiny {
    line-height: 1.2;
    font-size: 1.5rem; }

/* Layout */
.text-container {
  /* Display & Box Model */
  display: flex;
  /* Positioning */
  flex-direction: column;
  align-items: center;
  /* Other */ }
  .text-container__content {
    /* Display & Box Model */
    max-width: 65rem;
    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

/* Spacing */
.mb-100 {
  margin-bottom: 1rem !important; }

.mb-300 {
  margin-bottom: 3rem !important; }

.mb-400 {
  margin-bottom: 4.5rem !important; }

.mb-700 {
  margin-bottom: 7.5rem !important; }

.mb-900 {
  margin-bottom: 12rem !important; }

/* Display & Box Model */
.flex-column {
  flex-direction: column !important; }

.flex-row {
  flex-direction: row !important; }

/* Text */
.text-light {
  font-weight: 100 !important; }

.text-bold {
  font-weight: 700 !important; }

.text-black {
  font-weight: 900 !important; }

.l-spacing-300 {
  line-height: 3.5rem !important; }

.align-center {
  text-align: center !important; }

/* Color */
.color-affluent-400 {
  color: var(--color-affluent-400); }

.faded {
  opacity: 0.8 !important; }

/* Other */
.visually-hidden {
  visibility: hidden !important; }

.glow-little {
  -webkit-text-shadow: 0px 0px 25px #ffa502;
  -moz-text-shadow: 0px 0px 25px #ffa502;
  text-shadow: 0px 0px 25px #ffa502; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes downToUp {
  0% {
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes upToDownFull {
  0% {
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes leftToRightFull {
  0% {
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes glow {
  0% {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 25px 0px white;
    -moz-box-shadow: 0px 0px 25px 0px white;
    box-shadow: 0px 0px 50px 5px white; }
  100% {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3); } }

@keyframes bounceY {
  0% {
    transform: translateY(-10%); }
  50% {
    transform: translateY(10%); }
  100% {
    transform: translateY(-10%); } }

/* ==========================================================================
   BASE - e
   ========================================================================== */
/* ==========================================================================
   COMPONENTS - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.btn {
  /* Positioning */
  padding: 0.5em 1em;
  /* Other */
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .btn {
      padding: 1em 1.5em; } }
  .btn-affluent {
    /* Other */
    background: linear-gradient(to bottom, var(--color-affluent-400), var(--color-primary-400));
    color: var(--color-secondary-300);
    transition: all 0.1s; }
    .btn-affluent:hover {
      /* Other */
      background: linear-gradient(to bottom, #e89500, #ff4d2f); }
  .btn-alt-300 {
    /* Other */
    border: 0.1rem solid rgba(236, 240, 241, 0.1);
    color: var(--color-secondary-300);
    transition: all 0.2s; }
    .btn-alt-300:hover {
      background-color: rgba(223, 230, 233, 0.1); }
  .btn-alt-400 {
    /* Other */
    border: 0.1rem solid var(--color-secondary-300);
    color: var(--color-secondary-300);
    transition: all 0.2s; }
    .btn-alt-400:hover {
      box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5); }

/* Display & Box Model */
/* Positioning */
/* Other */
.modern-card {
  --card-color: rgb(14, 14, 14);
  /* Display & Box Model */
  display: flex;
  /* Positioning */
  position: relative;
  /* Other */
  background-color: var(--card-color);
  border-radius: 10px;
  cursor: pointer;
  /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */
  /*
      ==========================================================================
      PSEUDO - e
      ==========================================================================
    */
  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */
  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */
  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */
  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */ }
  .modern-card__content {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    /* Positioning */
    position: relative;
    gap: 3rem;
    padding: var(--padding-cards);
    /* Other */
    background-color: transparent;
    border-radius: inherit;
    /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */
    /*
    ==========================================================================
    PSEUDO - e
    ==========================================================================
    */ }
    .modern-card__content::before {
      /* Display & Box Model */
      content: "";
      display: block;
      /* Positioning */
      position: absolute;
      inset: 0.1rem;
      z-index: 2;
      /* Other */
      background-color: var(--card-color);
      border-radius: var(--default-border-radius); }
  .modern-card__image {
    /* Display & Box Model */
    max-height: 20rem;
    /* Positioning */
    z-index: 3;
    position: relative;
    /* Other */
    background-color: red;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    -webkit-filter: grayscale(35%);
    filter: grayscale(35%); }
    .modern-card__image img {
      /* Display & Box Model */
      /* Positioning */
      /* Other */ }
    .modern-card__image::after {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      /* Positioning */
      position: absolute;
      inset: 0;
      /* Other */
      background-color: var(--color-primary-700);
      opacity: 0.2; }
  .modern-card__body {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    z-index: 3;
    justify-content: space-between;
    /* Other */ }
  .modern-card__text {
    /* Display & Box Model */
    /* Positioning */
    align-self: center;
    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    .modern-card__text--heading {
      /* Other */
      font-size: 2.5rem; }
    .modern-card__text--paragraph {
      font-weight: 100;
      line-height: 1.2;
      font-size: 1.8rem; }
  .modern-card__icons {
    /* Display & Box Model */
    /* Positioning */
    align-self: flex-end; }
    .modern-card__icons--maximize {
      /* Display & Box Model */
      /* Positioning */
      inset: 1rem;
      position: absolute;
      /* Other */
      fill: var(--color-secondary-300);
      transition: opacity 0.15s;
      opacity: 0; }
      .modern-card__icons--maximize svg {
        /* Display & Box Model */
        height: 2.5rem;
        width: 2.5rem; }
    .modern-card__icons--arrow {
      /* Display & Box Model */
      display: flex;
      /* Positioning */
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      /* Other */
      fill: var(--color-secondary-300);
      background-color: rgba(236, 240, 241, 0.1);
      border-radius: 200px; }
      .modern-card__icons--arrow svg {
        /* Display & Box Model */
        height: 4rem;
        width: 4rem; }
  .modern-card::before, .modern-card::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;
    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: all; }
  .modern-card::before {
    /* Positioning */
    z-index: 3;
    /* Other */
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(236, 240, 241, 0.06), transparent 40%); }
  .modern-card::after {
    /* Positioning */
    z-index: 1;
    /* Other */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(236, 240, 241, 0.6), transparent 40%); }
  .modern-card:hover::before {
    opacity: 1; }
  .modern-card:hover .modern-card__icons--maximize {
    opacity: 0.35; }

.modern-card--alt {
  --card-color: rgb(14, 14, 14);
  /* Display & Box Model */
  /* Positioning */
  position: relative;
  /* Other */
  background-color: var(--card-color);
  border-radius: 10px;
  /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */
  /*
      ==========================================================================
      PSEUDO - e
      ==========================================================================
    */
  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */
  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */
  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */
  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */ }
  .modern-card--alt__content {
    /* Display & Box Model */
    width: 100%;
    display: flex;
    /* Positioning */
    position: relative;
    justify-content: space-between;
    gap: 3rem;
    padding: var(--padding-cards);
    /* Other */
    background-color: transparent;
    border-radius: inherit;
    /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */
    /*
    ==========================================================================
    PSEUDO - e
    ==========================================================================
    */ }
    .modern-card--alt__content::before {
      /* Display & Box Model */
      content: "";
      display: block;
      /* Positioning */
      position: absolute;
      inset: 0.1rem;
      z-index: 2;
      /* Other */
      background-color: var(--card-color);
      border-radius: var(--default-border-radius); }
  .modern-card--alt__image {
    /* Display & Box Model */
    max-width: 25rem;
    /* Positioning */
    z-index: 3;
    position: relative;
    /* Other */
    border-radius: var(--default-border-radius);
    overflow: hidden;
    -webkit-filter: grayscale(35%);
    filter: grayscale(35%);
    /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */
    /*
    ==========================================================================
    PSEUDO - e
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA CARRY - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA CARRY - e
    ==========================================================================
    */ }
    .modern-card--alt__image img {
      /* Display & Box Model */
      /* Positioning */
      /* Other */ }
    .modern-card--alt__image::after {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      /* Positioning */
      position: absolute;
      inset: 0;
      /* Other */
      background-color: var(--color-primary-700);
      opacity: 0.2; }
    @media only screen and (max-width: 56.25em) {
      .modern-card--alt__image {
        max-width: 30rem;
        min-height: 100%; }
        .modern-card--alt__image img {
          transform: scale(5); } }
  .modern-card--alt__container {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    gap: 3rem;
    z-index: 3;
    /* Other */
    /*
    ==========================================================================
    MEDIA CARRY - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA CARRY - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 56.25em) {
      .modern-card--alt__container {
        flex-direction: column; } }
  .modern-card--alt__body {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    flex-direction: column;
    justify-content: space-between;
    /* Other */
    /*
    ==========================================================================
    MEDIA CARRY - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA CARRY - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 56.25em) {
      .modern-card--alt__body {
        gap: 3rem; } }
  .modern-card--alt__item {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    gap: 0.5rem;
    /* Other */ }
  .modern-card--alt__text {
    /* Display & Box Model */
    /* Positioning */
    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    .modern-card--alt__text--heading {
      /* Other */
      font-size: 2.5rem; }
    .modern-card--alt__text--paragraph {
      font-weight: 100;
      line-height: 1.2;
      font-size: 1.8rem; }
  .modern-card--alt__icons {
    /* Display & Box Model */
    /* Positioning */ }
    .modern-card--alt__icons svg {
      /* Display & Box Model */
      height: 3rem;
      width: 3rem;
      /* Positioning */
      margin-top: 0.5rem;
      /* Other */
      fill: var(--color-primary-400); }
  .modern-card--alt::before, .modern-card--alt::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;
    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: all; }
  .modern-card--alt::before {
    /* Positioning */
    z-index: 3;
    /* Other */
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(236, 240, 241, 0.06), transparent 40%); }
  .modern-card--alt::after {
    /* Positioning */
    z-index: 1;
    /* Other */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(236, 240, 241, 0.6), transparent 40%); }
  .modern-card--alt:hover::before {
    opacity: 1; }
  .modern-card--alt:hover .modern-card--alt__icons--maximize {
    opacity: 0.35; }

/* Display & Box Model */
/* Positioning */
/* Other */
.carrousel {
  /* Display & Box Model */
  height: 20rem;
  width: 30rem;
  /* Positioning */
  /* Other */
  background-color: lime; }

/* ==========================================================================
   COMPONENTS - e
   ========================================================================== */
/* ==========================================================================
   LAYOUT - b
   ========================================================================== */
/* Display & Box Model */
/* Positioning */
/* Other */
.header {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  /* Positioning */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0;
  gap: 8rem;
  /* Other */
  background-color: var(--color-black);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 50%, black 100%), url(../img/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__text {
    /* Display & Box Model */
    display: flex;
    width: 100%;
    /* Positioning */
    align-items: center;
    gap: 5rem;
    justify-content: center;
    z-index: 500;
    padding: 0 8rem;
    /* Other */
    flex-wrap: wrap; }
    .header__text-left {
      /* Display & Box Model */
      display: flex;
      max-width: 50rem;
      /* Positioning */
      align-self: stretch;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      /*
      ==========================================================================
      MOTION - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MOTION - e
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-left h1 {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .header__text-left p {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .header__text-left div {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-delay: 0.75s;
        animation-delay: 0.75s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      @media only screen and (max-width: 75em) {
        .header__text-left {
          /* Positioning */
          text-align: center; } }
    .header__text-btn {
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-btn button:not(:last-child) {
        /* Positioning */
        margin-right: 2rem; }
      .header__text-btn .hover-span {
        /* Positioning */
        margin-right: 0.5rem;
        /* Other */
        transition: all 0.1s; }
      .header__text-btn button:hover .hover-span {
        /* Positioning */
        margin-right: 1rem; }
      @media (max-width: 61em) {
        .header__text-btn {
          /* Display & Box Model */
          display: none; } }
    .header__text-right img {
      /* Display & Box Model */
      width: 35rem;
      /* Other */
      opacity: 0;
      -webkit-animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
      animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      border-radius: 500px;
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      *
      * Animation delay no longer needs
      * to account for buttons.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      @media (max-width: 61em) {
        .header__text-right img {
          /* Other */
          -webkit-animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
          animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; } }
  .header__arrow {
    /* Other */
    -webkit-animation: fadeIn 0.5s ease-in 1.5s forwards;
    animation: fadeIn 0.5s ease-in 1.5s forwards;
    color: var(--color-secondary-300);
    font-size: 2rem;
    opacity: 0; }
    .header__arrow button > * {
      /* Display & Box Model */
      display: block;
      /* Other */
      -webkit-animation: bounceY 1.5s infinite;
      animation: bounceY 1.5s infinite; }

/* Positioning */
/* Display & Box Model */
/* Other */
.services {
  /* Display & Box Model */
  max-width: var(--default-section-size);
  /* Positioning */
  margin-inline: auto; }
  .services h2 {
    /* Positioning */
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 2;
    /* Other */
    color: var(--color-secondary-400); }
  .services__list {
    /* Display & Box Model */
    display: grid;
    /* Positioning */
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3;
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    .services__list:hover > *::after {
      opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .services__list {
        /* Display & Box Model */
        grid-template-columns: repeat(1, 1fr); } }
  .services__button {
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3; }

.navigation {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Positioning */
  align-items: center;
  gap: 5vw;
  justify-content: center;
  position: fixed;
  z-index: 3000;
  /* Positioning */
  padding: 1rem 3rem;
  font-size: 1.5rem;
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navigation {
      /* Other */
      webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-image: linear-gradient(to bottom, #0b090a 10%, transparent); } }
  .navigation__toggle {
    display: none;
    margin-left: auto; }
  .navigation__icon {
    /* Positioning */
    margin-top: 4rem;
    position: relative;
    z-index: 2000; }
    .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      content: "";
      /* Positioning */
      left: 0;
      position: absolute;
      transition: all 0.2s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      display: inline-block;
      /* Positioning */
      height: 2px;
      width: 3rem;
      /* Other */
      background-color: white; }
    .navigation__icon::before {
      /* Display & Box Model */
      height: 2px;
      width: 1rem;
      /* Positioning */
      top: -1.6rem;
      left: 100%;
      translate: -100% 0; }
    .navigation__icon::after {
      /* Display & Box Model */
      height: 2px;
      width: 2rem;
      /* Positioning */
      top: -0.8rem;
      left: 100%;
      translate: -100% 0; }
  .navigation__logo {
    /* Display & Box Model */
    height: 4rem;
    /* Other */
    filter: brightness(500%); }
  .navigation__navigation {
    display: flex;
    justify-content: center; }
  .navigation__list {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    gap: 3.5vw;
    padding-inline-start: 0; }
    .navigation__list li {
      /* Other */
      list-style: none;
      /*
        ==========================================================================
        MOTION - b
        ==========================================================================
        */
      /*
        ==========================================================================
        MOTION - e
        ==========================================================================
        */ }
      .navigation__list li:after {
        /* Display & Box Model */
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        /* Positioning */
        transform-origin: left;
        transform: scaleX(0);
        /* Other */
        background-color: var(--color-affluent-400);
        transition: all 0.3s; }
      .navigation__list li:hover:after {
        transform: scaleX(1); }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      /* Positioning */
      justify-content: center;
      gap: 0; }
      .navigation__navigation *, .navigation__talk {
        /* Display & Box Model */
        display: none; }
      .navigation__navigation[data-visible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        /* Other */
        animation: leftToRightFull 0.5s ease-out;
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9)); }
        .navigation__navigation[data-visible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp 0.5s ease-out 0.2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-visible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__navigation[data-invisible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        transform: translateX(-100%);
        /* Other */
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9));
        transition: all 1s; }
        .navigation__navigation[data-invisible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp 0.5s ease-out 0.2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-invisible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__toggle {
        /* Display & Box Model */
        display: inline-block; } }

/* Display & Box Model */
/* Positioning */
/* Other */
.about-us {
  /* Display & Box Model */
  display: flex;
  /* Positioning */
  position: relative;
  justify-content: center;
  z-index: 1000; }
  .about-us::before {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* Positioning */
    position: absolute;
    left: 0;
    top: 0;
    /* Other */
    opacity: 0.8;
    background-image: radial-gradient(transparent, #000 60%), url("../img/about-us-alt.jpg");
    background-size: cover;
    background-position: bottom; }
  .about-us__content {
    /* Display & Box Model */
    display: grid;
    max-width: var(--default-section-size);
    grid-template-columns: repeat(2, 1fr);
    /* Positioning */
    grid-gap: 5rem;
    position: relative;
    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 75em) {
      .about-us__content {
        /* Display & Box Model */
        grid-template-columns: repeat(1, 1fr);
        /* Positioning */
        /* Other */ } }
  .about-us__left {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    justify-content: center;
    /* Other */
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 75em) {
      .about-us__left {
        /* Display & Box Model */
        /* Positioning */
        grid-row: 2;
        /* Other */ } }
  .about-us__image {
    /* Display & Box Model */
    /* Positioning */
    /* Other */
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 75em) {
      .about-us__image {
        /* Display & Box Model */
        /* Positioning */
        /* Other */ } }
  .about-us__right {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    flex-direction: column;
    justify-content: center;
    /* Other */ }
  .about-us__heading {
    /* Display & Box Model */
    /* Positioning */
    /* Other */
    color: var(--color-secondary-400); }

/* Display & Box Model */
/* Positioning */
/* Other */
.au-modal {
  /* Display & Box Model */
  display: none;
  height: 100vh;
  width: 100%;
  /* Positioning */
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  /* Other */
  background-color: transparent; }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .au-modal {
      /* Other */
      webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px); } }
  .au-modal__content {
    /* Display & Box Model */
    max-width: 40rem;
    /* Positioning */
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    border: 0.1rem solid rgba(236, 240, 241, 0.15);
    background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 20px rgba(11, 9, 10, 0.85); }
    .au-modal__content--strategy {
      /* Other */
      background-image: linear-gradient(to bottom, rgba(11, 9, 10, 0.85) 1%, transparent), url("../img/au-modal_strategy.jpg");
      background-position: left bottom;
      background-size: cover; }
    .au-modal__content--media {
      /* Other */
      background-image: linear-gradient(to bottom, rgba(11, 9, 10, 0.85) 1%, transparent), url("../img/au-modal_media.jpg");
      background-position: left bottom;
      background-size: cover; }
    .au-modal__content--creative {
      /* Other */
      background-image: linear-gradient(to bottom, rgba(11, 9, 10, 0.85) 1%, transparent), url("../img/au-modal_creative.jpg");
      background-position: left bottom;
      background-size: cover; }
    .au-modal__content--inovation {
      /* Other */
      background-image: linear-gradient(to bottom, rgba(11, 9, 10, 0.85) 1%, transparent), url("../img/au-modal_innovation.jpg");
      background-position: left bottom;
      background-size: cover; }
    .au-modal__content::before, .au-modal__content::after {
      /* Positioning */
      position: absolute;
      inset: 0;
      /* Display & Box Model */
      content: "";
      display: block;
      height: 100%; }
    .au-modal__content::before {
      /* Positioning */
      /* Other */
      backdrop-filter: blur(15px); }
    .au-modal__content::after {
      /* Display & Box Model */
      width: 100%;
      /* Positioning */
      position: absolute;
      left: 0;
      top: 0;
      /* Other */
      background-color: #0b090a;
      opacity: 0.6; }
  .au-modal__close {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    /* Other */
    font-size: 1rem; }
    .au-modal__close svg {
      /* Display & Box Model */
      height: 5rem;
      width: 5rem;
      /* Positioning */
      /* Other */
      fill: var(--color-secondary-300); }
  .au-modal__header {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    position: relative;
    z-index: 3000;
    /* Other */
    border-bottom: 1px solid rgba(236, 240, 241, 0.15);
    font-size: 5rem; }
  .au-modal__text {
    /* Display & Box Model */
    /* Positioning */
    margin-top: 2rem;
    position: relative;
    z-index: 3000;
    /* Other */ }
    .au-modal__text hr {
      /* Display & Box Model */
      /* Positioning */
      /* Other */
      opacity: 0.15; }
    .au-modal__text > * {
      /* Display & Box Model */
      /* Positioning */
      margin: 2rem 0;
      /* Other */ }
    .au-modal__text ul > * {
      /* Display & Box Model */
      display: flex;
      /* Positioning */
      margin: 1rem 0;
      /* Other */ }
      .au-modal__text ul > * svg {
        /* Display & Box Model */
        height: 2rem;
        width: 2rem;
        /* Positioning */
        margin-right: 1rem;
        /* Other */
        fill: var(--color-secondary-300); }
  .au-modal__cta {
    /* Display & Box Model */
    /* Positioning */
    margin-top: 2rem;
    position: relative;
    z-index: 3000;
    /* Other */ }
    .au-modal__cta button {
      /* Display & Box Model */
      width: 100%;
      /* Positioning */
      /* Other */ }

/* ==========================================================================
   LAYOUT - e
   ========================================================================== */
/* ==========================================================================
   PAGES - b
   ========================================================================== */
/* Display & Box Model */
/* Positioning */
/* Other */
.our-numbers {
  /* Display & Box Model */
  max-width: var(--default-section-size);
  /* Positioning */
  margin: 12rem auto;
  /* Other */ }
  .our-numbers:hover > *::after {
    opacity: 1; }

/* ==========================================================================
   PAGES - e
   ========================================================================== */
