/* ==========================================================================
   MEDIA QUERIES - b
   ========================================================================== */
/*
 * 0 - 600: Phone
 * 600 - 900: Tablet Portrait
 * 900 - 1200: Tablet Landscape
 * 1800 + : Big Desktop 
*/
/*
 * $breakpoint argument choices:
 * 
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 */
/* ==========================================================================
   MEDIA QUERIES - e
   ========================================================================== */
/*
* Add vanilla CSS variables.
*
* It is possible to apply logic to these
* different from SASS ones.
*/
:root {
  /* Colors */
  --color-primary-300: #485460;
  --color-primary-400: #353b48;
  --color-primary-700: #1e272e;
  --color-secondary-300: #ecf0f1;
  --color-secondary-400: #dfe6e9;
  --color-affluent-300: #3498db;
  --color-affluent-400: #2980b9;
  --color-black: #000;
  /* Sizes */
  --font-size-300: 1.6rem;
  --font-size-400: 2rem;
  --font-size-700: 3rem; }

/* Colors */
/* ==========================================================================
   MY RESETS :) - b
   ========================================================================== */
html {
  /* Other */
  font-size: 55%;
  /* Medias Queries - b
   ========================================================================== */
  /* Medias Queries - e
   ========================================================================== */ }
  @media only screen and (min-width: 112.5em) {
    html {
      /* Other */
      font-size: 62.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      /* Other */
      font-size: 50%; } }

/*
* Add custom default typography.
*
* This overwrites default values
* with mine.
*/
body {
  /* Other */
  color: var(--color-secondary-300);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-300);
  font-weight: 400;
  line-height: 1.7; }

/* ==========================================================================
   MY RESETS :) - e
   ========================================================================== */
/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - b
   ========================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - e
   ========================================================================== */
/* ==========================================================================
   ABSTRACTS - b
   ========================================================================== */
/*
  ==========================================================================
  ELEMENT STYLES - b
  ==========================================================================
*/
.default_link_style, .navigation__list li a:link, .navigation__list li a:visited, .navigation__list li a:active {
  /* Other */
  text-decoration: none;
  color: white;
  transition: all 1s; }

/*
  ==========================================================================
  ELEMENT STYLES - E
  ==========================================================================
*/
/* ==========================================================================
   ABSTRACTS - e
   ========================================================================== */
/* ==========================================================================
   BASE - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.primary-text {
  /* Other */
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2; }

.paragraph {
  font-weight: 100;
  line-height: 1.2; }
  .paragraph-tiny {
    font-size: 2.2rem; }

.visually-hidden {
  visibility: hidden !important; }

.text-bold {
  font-weight: 700 !important; }

.glow-little {
  -webkit-text-shadow: 0px 0px 25px #2980b9;
  -moz-text-shadow: 0px 0px 25px #2980b9;
  text-shadow: 0px 0px 25px #2980b9; }

.color-affluent-400 {
  color: var(--color-affluent-400); }

@keyframes downToUp {
  0% {
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes upToDownFull {
  0% {
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes leftToRightFull {
  0% {
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fullRotation {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/* ==========================================================================
   BASE - e
   ========================================================================== */
/* ==========================================================================
   COMPONENTS - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.btn {
  /* Positioning */
  padding: 0.5em 1em;
  /* Other */
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700; }
  .btn-affluent {
    /* Other */
    background-color: var(--color-affluent-400);
    color: var(--color-secondary-300);
    transition: all 0.1s; }
    .btn-affluent:hover {
      /* Other */
      background-color: #2472a4; }
  .btn-alt {
    /* Other */
    border: 0.1rem solid var(--color-secondary-300);
    color: var(--color-secondary-300);
    transition: all .2s; }
    .btn-alt:hover {
      -webkit-box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5);
      -moz-box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5);
      box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5); }

/* ==========================================================================
   COMPONENTS - e
   ========================================================================== */
/* ==========================================================================
   LAYOUT - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.header {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  /* Positioning */
  align-items: center;
  justify-content: center;
  padding: 15rem 0;
  /* Other */
  background-color: var(--color-black);
  background-image: linear-gradient(to bottom, #0e1b25 0%, rgba(42, 69, 75, 0.5) 50%, black 100%), url(../img/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__text {
    /* Display & Box Model */
    display: flex;
    width: 100%;
    /* Positioning */
    align-items: center;
    gap: 5rem;
    justify-content: center;
    z-index: 500;
    padding: 0 8rem;
    /* Other */
    flex-wrap: wrap; }
    .header__text-left {
      /* Display & Box Model */
      display: flex;
      max-width: 50rem;
      /* Positioning */
      align-self: stretch;
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      /*
      ==========================================================================
      MOTION - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MOTION - e
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-left h1 {
        /* Other */
        opacity: 0;
        animation: downToUp 1s ease-out;
        animation-fill-mode: forwards; }
      .header__text-left p {
        /* Other */
        opacity: 0;
        animation: downToUp 1s ease-out;
        animation-delay: .5s;
        animation-fill-mode: forwards; }
      .header__text-left div {
        /* Other */
        opacity: 0;
        animation: downToUp 1s ease-out;
        animation-delay: 1s;
        animation-fill-mode: forwards; }
      @media only screen and (max-width: 75em) {
        .header__text-left {
          /* Positioning */
          text-align: center; } }
    .header__text-btn {
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-btn button:not(:last-child) {
        /* Positioning */
        margin-right: 2rem; }
      .header__text-btn .hover-span {
        /* Positioning */
        margin-right: .5rem;
        /* Other */
        transition: all .1s; }
      .header__text-btn button:hover .hover-span {
        /* Positioning */
        margin-right: 1rem; }
      @media (max-width: 61em) {
        .header__text-btn {
          /* Display & Box Model */
          display: none; } }
    .header__text-right img {
      /* Display & Box Model */
      width: 40rem;
      /* Other */
      opacity: 0;
      animation: downToUp 1s ease-out 1.5s, fullRotation 8s 2.4s infinite linear;
      animation-fill-mode: forwards;
      border-radius: 500px;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      *
      * Animation delay no longer needs
      * to account for buttons.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      @media only screen and (min-width: 112.5em) {
        .header__text-right img {
          /* Display & Box Model */
          width: 50rem; } }
      @media (max-width: 61em) {
        .header__text-right img {
          /* Other */
          animation: downToUp 1s ease-out 1s, fullRotation 10s 2.4s infinite linear;
          animation-fill-mode: forwards; } }

main {
  /* Display & Box Model */
  height: 300rem;
  /* Other */
  background-color: black; }

.navigation {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Positioning */
  align-items: center;
  gap: 5vw;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  /* Positioning */
  padding: 1rem 3rem;
  font-size: 1.5rem;
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navigation {
      /* Other */
      webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-image: linear-gradient(to bottom, var(--color-black) 10%, transparent); } }
  .navigation__toggle {
    display: none;
    margin-left: auto; }
  .navigation__icon {
    /* Positioning */
    margin-top: 4rem;
    position: relative;
    z-index: 2000; }
    .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      content: "";
      /* Positioning */
      left: 0;
      position: absolute;
      transition: all 0.2s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      display: inline-block;
      /* Positioning */
      height: 2px;
      width: 3rem;
      /* Other */
      background-color: white; }
    .navigation__icon::before {
      /* Display & Box Model */
      height: 2px;
      width: 1rem;
      /* Positioning */
      top: -1.6rem;
      left: 100%;
      translate: -100% 0; }
    .navigation__icon::after {
      /* Display & Box Model */
      height: 2px;
      width: 2rem;
      /* Positioning */
      top: -0.8rem;
      left: 100%;
      translate: -100% 0; }
  .navigation__logo {
    /* Display & Box Model */
    height: 4rem;
    /* Other */
    filter: brightness(500%); }
  .navigation__navigation {
    display: flex;
    justify-content: center; }
  .navigation__list {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    gap: 3.5vw;
    padding-inline-start: 0; }
    .navigation__list li {
      /* Other */
      list-style: none;
      /*
        ==========================================================================
        MOTION - b
        ==========================================================================
        */
      /*
        ==========================================================================
        MOTION - e
        ==========================================================================
        */ }
      .navigation__list li:after {
        /* Display & Box Model */
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        /* Positioning */
        transform-origin: left;
        transform: scaleX(0);
        /* Other */
        background-color: currentColor;
        transition: all .3s; }
      .navigation__list li:hover:after {
        transform: scaleX(0.3); }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      /* Positioning */
      justify-content: center;
      gap: 0; }
      .navigation__navigation *, .navigation__talk {
        /* Display & Box Model */
        display: none; }
      .navigation__navigation[data-visible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        /* Other */
        animation: leftToRightFull .5s ease-out;
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9)); }
        .navigation__navigation[data-visible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp .5s ease-out .2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-visible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__navigation[data-invisible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        transform: translateX(-100%);
        /* Other */
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9));
        transition: all 1s; }
        .navigation__navigation[data-invisible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp .5s ease-out .2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-invisible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__toggle {
        /* Display & Box Model */
        display: inline-block; } }

/* ==========================================================================
   LAYOUT - e
   ========================================================================== */
/* ==========================================================================
   PAGES - b
   ========================================================================== */
/* ==========================================================================
   PAGES - e
   ========================================================================== */
