/* ==========================================================================
   MEDIA QUERIES - b
   ========================================================================== */
/*
 * 0 - 600: Phone
 * 600 - 900: Tablet Portrait
 * 900 - 1200: Tablet Landscape
 * 1800 + : Big Desktop 
*/
/*
 * $breakpoint argument choices:
 * 
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 */
/* ==========================================================================
   MEDIA QUERIES - e
   ========================================================================== */
/*
* Add vanilla CSS variables.
*
* It is possible to apply logic to these
* different from SASS ones.
*/
:root {
  /* Colors */
  --color-primary-300: #7d5fff;
  --color-primary-400: #353b48;
  --color-primary-700: #0b090a;
  --color-secondary-300: #ecf0f1;
  --color-secondary-400: #dfe6e9;
  --color-affluent-300: #3498db;
  --color-affluent-400: #ffa502;
  --color-black: #000;
  /* Sizes */
  --font-size-300: 1.6rem;
  --font-size-400: 2rem;
  --font-size-700: 3rem;
  /* Positioning */
  --padding-section: 5rem; }

/* Colors */
/* Positioning */
/* ==========================================================================
   MY RESETS :) - b
   ========================================================================== */
html {
  /* Other */
  font-size: 55%;
  scroll-padding-top: 20rem;
  background-color: var(--color-primary-700);
  /* Medias Queries - b
   ========================================================================== */
  /* Medias Queries - e
   ========================================================================== */ }
  @media only screen and (min-width: 112.5em) {
    html {
      /* Other */
      font-size: 62.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      /* Other */
      font-size: 45%; } }

/*
* Add custom default typography.
*
* This overwrites default values
* with mine.
*/
body {
  /* Positioning */
  z-index: 500;
  /* Other */
  color: var(--color-secondary-300);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-300);
  font-weight: 400;
  line-height: 1.7; }

/* ==========================================================================
   MY RESETS :) - e
   ========================================================================== */
/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - b
   ========================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* ==========================================================================
   RESETS FROM: https://andy-bell.co.uk/a-modern-css-reset/ - e
   ========================================================================== */
/* ==========================================================================
   ABSTRACTS - b
   ========================================================================== */
/*
  ==========================================================================
  ELEMENT STYLES - b
  ==========================================================================
*/
.default_link_style, .navigation__list li a:link, .navigation__list li a:visited, .navigation__list li a:active {
  /* Other */
  text-decoration: none;
  color: white;
  transition: all 1s; }

/*
  ==========================================================================
  ELEMENT STYLES - E
  ==========================================================================
*/
/* ==========================================================================
   ABSTRACTS - e
   ========================================================================== */
/* ==========================================================================
   BASE - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.primary-text {
  /* Other */
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2; }
  @media only screen and (max-width: 37.5em) {
    .primary-text {
      font-size: 5rem; } }

.secondary-text {
  /* Other */
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2; }
  @media only screen and (max-width: 37.5em) {
    .secondary-text {
      font-size: 2rem; } }

.paragraph {
  font-weight: 100;
  line-height: 1.2; }
  .paragraph-tiny {
    font-size: 2rem; }

/* Layout */
.container {
  /* Display & Box Model */
  display: flex !important;
  /* Positioning */
  align-items: center;
  justify-content: center;
  padding: var(--padding-section);
  z-index: 0;
  gap: 3rem;
  /* Other */
  flex-wrap: wrap; }
  .container__grid-background {
    /* Display & Box Model */
    /* Positioning */
    position: relative;
    /* Other */
    /*
    * Add background pattern.
    *
    * Generated by: https://www.magicpattern.design/tools/css-backgrounds
    */
    background-image: linear-gradient(rgba(53, 59, 72, 0.45) 0.3px, transparent 1px), linear-gradient(to right, rgba(53, 59, 72, 0.45) 0.3px, var(--color-primary-700) 1px);
    background-size: 100px 100px;
    /*
    * Add background radial gradient.
    *
    * This is to smooth the pattern edges.
    */ }
    .container__grid-background::before {
      /* Display & Box Model */
      content: "";
      height: 100%;
      width: 100%;
      /* Positioning */
      inset: 0;
      position: absolute;
      z-index: 1;
      /* Other */
      background: radial-gradient(transparent, var(--color-primary-700) 90%); }

.vertical-separator {
  /* Display & Box Model */
  display: block;
  height: 40rem;
  width: 0.1rem;
  /* Positioning */
  /* Other */
  background-color: rgba(236, 240, 241, 0.2);
  border-radius: 200%; }

/* Spacing */
.mb-300 {
  margin-bottom: 3rem !important; }

.mb-400 {
  margin-bottom: 4.5rem !important; }

.mb-700 {
  margin-bottom: 7.5rem !important; }

.mb-900 {
  margin-bottom: 9rem !important; }

/* Text */
.text-light {
  font-weight: 300 !important; }

.text-bold {
  font-weight: 700 !important; }

.text-black {
  font-weight: 900 !important; }

.text-light {
  font-weight: 100 !important; }

.l-spacing-300 {
  line-height: 3.5rem !important; }

.align-center {
  text-align: center !important; }

/* Color */
.color-affluent-400 {
  color: var(--color-affluent-400); }

/* Other */
.visually-hidden {
  visibility: hidden !important; }

.glow-little {
  -webkit-text-shadow: 0px 0px 25px #ffa502;
  -moz-text-shadow: 0px 0px 25px #ffa502;
  text-shadow: 0px 0px 25px #ffa502; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes downToUp {
  0% {
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes upToDownFull {
  0% {
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes leftToRightFull {
  0% {
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes glow {
  0% {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0px 0px 25px 0px white;
    -moz-box-shadow: 0px 0px 25px 0px white;
    box-shadow: 0px 0px 50px 5px white; }
  100% {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.3); } }

@keyframes bounceY {
  0% {
    transform: translateY(-10%); }
  50% {
    transform: translateY(10%); }
  100% {
    transform: translateY(-10%); } }

/* ==========================================================================
   BASE - e
   ========================================================================== */
/* ==========================================================================
   COMPONENTS - b
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Other */
.btn {
  /* Positioning */
  padding: 0.5em 1em;
  /* Other */
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .btn {
      padding: 1em 1.5em; } }
  .btn-affluent {
    /* Other */
    background-color: var(--color-affluent-400);
    color: var(--color-secondary-300);
    transition: all 0.1s; }
    .btn-affluent:hover {
      /* Other */
      background-color: #e89500; }
  .btn-alt-300 {
    /* Other */
    border: 0.1rem solid rgba(236, 240, 241, 0.1);
    color: var(--color-secondary-300);
    transition: all 0.2s; }
    .btn-alt-300:hover {
      background-color: rgba(223, 230, 233, 0.1); }
  .btn-alt-400 {
    /* Other */
    border: 0.1rem solid var(--color-secondary-300);
    color: var(--color-secondary-300);
    transition: all 0.2s; }
    .btn-alt-400:hover {
      -webkit-box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5);
      -moz-box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5);
      box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5); }

/* Display & Box Model */
/* Positioning */
/* Other */
.modern-card {
  --card-color: rgb(14, 14, 14);
  /* Display & Box Model */
  padding: 15rem;
  /* Positioning */
  position: relative;
  /* Other */
  background-color: rgba(236, 240, 241, 0.15);
  border-radius: 10px;
  cursor: pointer;
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */
  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */
  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */
  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */
  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */ }
  @media only screen and (min-width: 112.5em) {
    .modern-card {
      /* Display & Box Model */
      padding: 20rem; } }
  @media only screen and (max-width: 37.5em) {
    .modern-card {
      /* Display & Box Model */
      padding: 20rem; } }
  .modern-card::before, .modern-card::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;
    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms; }
  .modern-card::before {
    /* Positioning */
    z-index: 3;
    /* Other */
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(125, 95, 255, 0.06), transparent 40%); }
  .modern-card::after {
    /* Positioning */
    z-index: 1;
    /* Other */
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(125, 95, 255, 0.3), transparent 40%); }
  .modern-card__content {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    inset: 1px;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    z-index: 2;
    /* Other */
    background-color: var(--card-color);
    border-radius: inherit; }
    .modern-card__content p {
      align-self: flex-start; }
    .modern-card__content svg {
      /* Display & Box Model */
      display: inline-block;
      height: 8rem;
      width: 8rem;
      /* Other */
      fill: var(--color-secondary-400);
      /*
      * Maximize top left icon.
      */ }
      .modern-card__content svg:first-child {
        /* Display & Box Model */
        display: inline;
        height: 2.5rem;
        width: 2.5rem;
        /* Positioning */
        inset: 1rem;
        position: absolute;
        /* Other */
        opacity: 0;
        transition: opacity 0.15s; }
  .modern-card:hover::before {
    opacity: 1; }
  .modern-card:hover .modern-card__content svg:first-child {
    opacity: 0.5; }

/* ==========================================================================
   COMPONENTS - e
   ========================================================================== */
/* ==========================================================================
   LAYOUT - b
   ========================================================================== */
/* Display & Box Model */
/* Positioning */
/* Other */
.header {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  /* Positioning */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0;
  gap: 8rem;
  /* Other */
  background-color: var(--color-black);
  background-image: linear-gradient(to bottom, #0e1b25 0%, rgba(42, 69, 75, 0.5) 50%, #0b090a 100%), url(../img/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__text {
    /* Display & Box Model */
    display: flex;
    width: 100%;
    /* Positioning */
    align-items: center;
    gap: 5rem;
    justify-content: center;
    z-index: 500;
    padding: 0 8rem;
    /* Other */
    flex-wrap: wrap; }
    .header__text-left {
      /* Display & Box Model */
      display: flex;
      max-width: 47rem;
      /* Positioning */
      align-self: stretch;
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      /*
      ==========================================================================
      MOTION - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MOTION - e
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-left h1 {
        /* Other */
        opacity: 0;
        animation: downToUp 0.5s ease-out;
        animation-fill-mode: forwards; }
      .header__text-left p {
        /* Other */
        opacity: 0;
        animation: downToUp 0.5s ease-out;
        animation-delay: 0.25s;
        animation-fill-mode: forwards; }
      .header__text-left div {
        /* Other */
        opacity: 0;
        animation: downToUp 0.5s ease-out;
        animation-delay: 0.75s;
        animation-fill-mode: forwards; }
      @media only screen and (max-width: 75em) {
        .header__text-left {
          /* Positioning */
          text-align: center; } }
    .header__text-btn {
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      .header__text-btn button:not(:last-child) {
        /* Positioning */
        margin-right: 2rem; }
      .header__text-btn .hover-span {
        /* Positioning */
        margin-right: 0.5rem;
        /* Other */
        transition: all 0.1s; }
      .header__text-btn button:hover .hover-span {
        /* Positioning */
        margin-right: 1rem; }
      @media (max-width: 61em) {
        .header__text-btn {
          /* Display & Box Model */
          display: none; } }
    .header__text-right img {
      /* Display & Box Model */
      width: 40rem;
      /* Other */
      opacity: 0;
      animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
      animation-fill-mode: forwards;
      border-radius: 500px;
      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */
      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      *
      * Animation delay no longer needs
      * to account for buttons.
      */
      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */ }
      @media only screen and (min-width: 112.5em) {
        .header__text-right img {
          /* Display & Box Model */
          width: 50rem; } }
      @media (max-width: 61em) {
        .header__text-right img {
          /* Other */
          animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
          animation-fill-mode: forwards; } }
  .header__arrow {
    /* Other */
    animation: fadeIn 0.5s ease-in 1.5s forwards;
    color: var(--color-secondary-300);
    font-size: 2rem;
    opacity: 0; }
    .header__arrow button > * {
      /* Display & Box Model */
      display: block;
      /* Other */
      animation: bounceY 1.5s infinite; }

/* Positioning */
/* Display & Box Model */
/* Other */
.services {
  /* Positioning */
  text-align: center;
  position: relative; }
  .services h2 {
    /* Positioning */
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 2;
    /* Other */
    color: var(--color-secondary-400); }
  .services__list {
    /* Display & Box Model */
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    /* Positioning */
    grid-gap: 3rem;
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3;
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    .services__list:hover > *::after {
      opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .services__list {
        /* Display & Box Model */
        grid-template-columns: repeat(1, 1fr); } }
  .services__button {
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3; }

.navigation {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Positioning */
  align-items: center;
  gap: 5vw;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  /* Positioning */
  padding: 1rem 3rem;
  font-size: 1.5rem;
  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navigation {
      /* Other */
      webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-image: linear-gradient(to bottom, #0b090a 10%, transparent); } }
  .navigation__toggle {
    display: none;
    margin-left: auto; }
  .navigation__icon {
    /* Positioning */
    margin-top: 4rem;
    position: relative;
    z-index: 2000; }
    .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      content: "";
      /* Positioning */
      left: 0;
      position: absolute;
      transition: all 0.2s; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      /* Display & Box Model */
      display: inline-block;
      /* Positioning */
      height: 2px;
      width: 3rem;
      /* Other */
      background-color: white; }
    .navigation__icon::before {
      /* Display & Box Model */
      height: 2px;
      width: 1rem;
      /* Positioning */
      top: -1.6rem;
      left: 100%;
      translate: -100% 0; }
    .navigation__icon::after {
      /* Display & Box Model */
      height: 2px;
      width: 2rem;
      /* Positioning */
      top: -0.8rem;
      left: 100%;
      translate: -100% 0; }
  .navigation__logo {
    /* Display & Box Model */
    height: 4rem;
    /* Other */
    filter: brightness(500%); }
  .navigation__navigation {
    display: flex;
    justify-content: center; }
  .navigation__list {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    gap: 3.5vw;
    padding-inline-start: 0; }
    .navigation__list li {
      /* Other */
      list-style: none;
      /*
        ==========================================================================
        MOTION - b
        ==========================================================================
        */
      /*
        ==========================================================================
        MOTION - e
        ==========================================================================
        */ }
      .navigation__list li:after {
        /* Display & Box Model */
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        /* Positioning */
        transform-origin: left;
        transform: scaleX(0);
        /* Other */
        background-color: var(--color-affluent-400);
        transition: all 0.3s; }
      .navigation__list li:hover:after {
        transform: scaleX(1); }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      /* Positioning */
      justify-content: center;
      gap: 0; }
      .navigation__navigation *, .navigation__talk {
        /* Display & Box Model */
        display: none; }
      .navigation__navigation[data-visible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        /* Other */
        animation: leftToRightFull 0.5s ease-out;
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9)); }
        .navigation__navigation[data-visible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp 0.5s ease-out 0.2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-visible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__navigation[data-invisible] {
        /* Display & Box Model */
        display: flex;
        height: 100vh;
        width: 100%;
        /* Positioning */
        flex-direction: column;
        justify-content: start;
        left: 0;
        padding: 10rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        transform: translateX(-100%);
        /* Other */
        background-image: linear-gradient(to bottom, var(--color-black) 20%, rgba(0, 0, 0, 0.9));
        transition: all 1s; }
        .navigation__navigation[data-invisible] * {
          /* Display & Box Model */
          display: block;
          /* Other */
          opacity: 0;
          animation: downToUp 0.5s ease-out 0.2s;
          animation-fill-mode: forwards;
          font-weight: 700;
          font-size: 3.5rem; }
          .navigation__navigation[data-invisible] *:not(:first-child) {
            /* Other */
            margin-top: 5rem; }
      .navigation__toggle {
        /* Display & Box Model */
        display: inline-block; } }

/* Display & Box Model */
/* Positioning */
/* Other */
.about-us {
  /* Positioning */
  z-index: 0;
  /* Other */
  background-color: var(--color-primary-700); }
  .about-us__content {
    /* Display & Box Model */
    display: flex;
    /* Positioning */
    justify-content: center;
    padding: 15rem 0;
    position: relative;
    gap: 10rem;
    z-index: 2;
    /* Other */
    background-image: url("../img/about-us-alt.jpg");
    background-size: cover;
    background-color: #191417;
    background-blend-mode: soft-light;
    overflow: visible;
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    .about-us__content::before {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 20rem;
      width: 100%;
      /* Positioning */
      position: absolute;
      left: 0;
      top: 0;
      /* Other */
      background-color: var(--color-primary-700);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); }
    .about-us__content::after {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 20rem;
      width: 100%;
      /* Positioning */
      position: absolute;
      left: 0;
      top: 0;
      /* Other */
      background: linear-gradient(178deg, transparent 40%, rgba(53, 59, 72, 0.2));
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); }
    @media only screen and (max-width: 75em) {
      .about-us__content {
        /* Display & Box Model */
        /* Positioning */
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        /* Other */
        text-align: center; } }
  .about-us__left {
    /* Display & Box Model */
    width: 60rem;
    /* Positioning */
    position: relative;
    z-index: 3;
    /* Other */
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    .about-us__left::after {
      content: "";
      clear: both;
      display: table; }
    @media only screen and (max-width: 75em) {
      .about-us__left {
        /* Display & Box Model */
        height: 1rem;
        /* Positioning */
        margin-bottom: 30rem;
        /* Other */ } }
  .about-us__image {
    /* Display & Box Model */
    width: 100%;
    /* Positioning */
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    transform: translateY(-25%);
    /* Other */
    filter: drop-shadow(0px 0px 20px #000);
    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */
    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */ }
    @media only screen and (max-width: 75em) {
      .about-us__image {
        /* Display & Box Model */
        /* Positioning */
        /* Other */
        transform: translateY(-50%); } }
  .about-us__right {
    /* Display & Box Model */
    max-width: 50rem;
    /* Positioning */
    margin-top: 10rem;
    /* Other */ }
  .about-us__heading {
    /* Display & Box Model */
    /* Positioning */
    /* Other */
    color: var(--color-affluent-400); }

/* Display & Box Model */
/* Positioning */
/* Other */
.our-numbers {
  /* Display & Box Model */
  display: flex;
  min-width: 40rem;
  /* Positioning */
  align-self: stretch;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  position: relative;
  z-index: 3;
  /* Other */
  background-image: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.8)), url(../img/our-numbers-alt.jpg);
  background-size: cover;
  background-color: var(--color-primary-400);
  background-blend-mode: soft-light;
  color: var(--color-secondary-300);
  border-radius: 10px; }
  .our-numbers::before {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* Positioning */
    position: absolute;
    inset: 0;
    z-index: 4;
    backdrop-filter: saturate(90%); }
  .our-numbers__text {
    /* Positioning */
    z-index: 5; }
  .our-numbers p {
    /* Other */
    font-size: 3rem;
    line-height: 3rem; }
  .our-numbers__text:last-child p {
    color: var(--color-affluent-400); }

/* Display & Box Model */
/* Positioning */
/* Other */
.au-modal {
  /* Display & Box Model */
  height: 100vh;
  width: 100%;
  /* Positioning */
  position: fixed;
  z-index: 1000;
  /* Other */
  background-color: transparent; }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .au-modal {
      /* Other */
      webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px); } }

/* ==========================================================================
   LAYOUT - e
   ========================================================================== */
/* ==========================================================================
   PAGES - b
   ========================================================================== */
/* ==========================================================================
   PAGES - e
   ========================================================================== */
