/* Display & Box Model */
/* Positioning */
/* Other */

.about-us {
  /* Display & Box Model */
  display: flex;

  /* Positioning */
  position: relative;
  justify-content: center;
  z-index: 1000;

  &::before {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    /* Positioning */
    position: absolute;
    left: 0;
    top: 0;

    /* Other */
    opacity: 0.8;
    background-image: radial-gradient(transparent, $color-black 60%),
      url("../img/about-us-alt.jpg");
    background-size: cover;
    background-position: bottom;
  }

  &__content {
    /* Display & Box Model */
    display: grid;
    max-width: var(--default-section-size);
    grid-template-columns: repeat(2, 1fr);

    /* Positioning */
    grid-gap: 5rem;
    position: relative;

    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

    @include responsive(tab-land) {
      /* Display & Box Model */
      grid-template-columns: repeat(1, 1fr);

      /* Positioning */

      /* Other */
    }

    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */
  }

  &__left {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    justify-content: center;

    /* Other */

    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

    @include responsive(tab-land) {
      /* Display & Box Model */

      /* Positioning */
      grid-row: 2;

      /* Other */
    }

    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */
  }

  &__image {
    /* Display & Box Model */

    /* Positioning */

    /* Other */
    -webkit-filter: drop-shadow(0px 0px 20px rgba($color-black, 0.5));
    filter: drop-shadow(0px 0px 20px rgba($color-black, 0.5));

    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

    @include responsive(tab-land) {
      /* Display & Box Model */

      /* Positioning */

      /* Other */
    }

    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */
  }

  &__right {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    flex-direction: column;
    justify-content: center;

    /* Other */
  }

  &__heading {
    /* Display & Box Model */
    /* Positioning */

    /* Other */
    color: var(--color-secondary-400);
  }
}
