/* Display & Box Model */
/* Positioning */
/* Other */

.header {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;

  /* Positioning */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0;
  gap: 8rem;

  /* Other */
  background-color: var(--color-black);
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.5) 0%,
      rgba($color-black, 0.9) 50%,
      rgba($color-black, 1) 100%
    ),
    url(../img/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__text {
    /* Display & Box Model */
    display: flex;
    width: 100%;

    /* Positioning */
    align-items: center;
    gap: 5rem;
    justify-content: center;
    z-index: 500;
    padding: 0 8rem;

    /* Other */
    flex-wrap: wrap;

    &-left {
      /* Display & Box Model */
      display: flex;
      max-width: 50rem;

      /* Positioning */
      align-self: stretch;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;

      /*
      ==========================================================================
      MOTION - b
      ==========================================================================
      */

      h1 {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      p {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      div {
        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 0.5s ease-out;
        animation: downToUp 0.5s ease-out;
        -webkit-animation-delay: 0.75s;
        animation-delay: 0.75s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      /*
      ==========================================================================
      MOTION - e
      ==========================================================================
      */

      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */

      @include responsive(tab-land) {
        /* Positioning */
        text-align: center;
      }

      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */
    }

    &-btn {
      button:not(:last-child) {
        /* Positioning */
        margin-right: 2rem;
      }

      .hover-span {
        /* Positioning */
        margin-right: 0.5rem;

        /* Other */
        transition: all 0.1s;
      }

      button:hover .hover-span {
        /* Positioning */
        margin-right: 1rem;
      }

      /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */

      /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      */

      @media (max-width: 61em) {
        /* Display & Box Model */
        display: none;
      }

      /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */
    }

    &-right {
      img {
        /* Display & Box Model */
        width: 35rem;

        /* Other */
        opacity: 0;
        -webkit-animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
        animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        border-radius: 500px;

        /*
      ==========================================================================
      MEDIA QUERIES - b
      ==========================================================================
      */

        /*
      * When content gets vertical 
      * buttons should not appear.
      *
      * 61em is the exact width where
      * content turns vertical.
      *
      * Animation delay no longer needs
      * to account for buttons.
      */

        @media (max-width: 61em) {
          /* Other */
          -webkit-animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
          animation: downToUp 1s ease-out 1s, glow 5s 1s infinite;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        /*
      ==========================================================================
      MEDIA QUERIES - e
      ==========================================================================
      */
      }
    }
  }

  &__arrow {
    /* Other */
    -webkit-animation: fadeIn 0.5s ease-in 1.5s forwards;
    animation: fadeIn 0.5s ease-in 1.5s forwards;
    color: var(--color-secondary-300);
    font-size: 2rem;
    opacity: 0;

    button > * {
      /* Display & Box Model */
      display: block;

      /* Other */
      -webkit-animation: bounceY 1.5s infinite;
      animation: bounceY 1.5s infinite;
    }
  }
}
