/* Display & Box Model */
/* Positioning */
/* Other */

.our-numbers {
  /* Display & Box Model */
  display: flex;
  min-width: 40rem;

  /* Positioning */
  flex-wrap: wrap;
  gap: 26rem;
  padding: 5rem 5rem;

  position: relative;
  z-index: 5;

  /* Other */
  background-image: linear-gradient(
      to bottom,
      transparent 70%,
      rgba($color-black, 0.8)
    ),
    url(../img/our-numbers-alt.jpg);
  background-size: cover;
  background-position: center;

  background-color: var(--color-primary-400);
  background-blend-mode: soft-light;

  color: var(--color-secondary-300);
  border-radius: 10px;

  &::before {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    /* Positioning */
    position: absolute;
    inset: 0;
    z-index: 4;

    backdrop-filter: saturate(90%);
  }

  &__right,
  &__left {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    flex-direction: column;
    gap: 5rem;

    /* Other */
  }

  &__right &__text:last-child {
    p {
      color: var(--color-affluent-400);
    }
  }

  &__text {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    z-index: 5;
    align-items: center;

    /* Other */
    transition: all 0.2s;

    & svg {
      /* Display & Box Model */
      height: 4rem;
      width: 4rem;

      /* Positioning */
      margin-right: 1.5rem;
      transform: translateY(-25%);

      /* Other */
      fill: var(--color-secondary-300);
    }

    &:hover {
      /* Display & Box Model */
      /* Positioning */
      /* Other */
      transform: scale(1.05);
      text-shadow: 0px 10px 10px rgba($color-primary-700, 0.5);
    }
  }

  & p {
    /* Other */
    font-size: 4rem;
    line-height: 5rem;
  }
}
