/* Positioning */
/* Display & Box Model */
/* Other */

.services {
  /* Positioning */
  text-align: center;
  position: relative;

  h2 {
    /* Positioning */

    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */

    position: inherit;
    z-index: 2;

    /* Other */
    color: var(--color-secondary-400);
  }

  &__list {
    /* Display & Box Model */
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);

    /* Positioning */
    grid-gap: 3rem;

    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3;

    &:hover > *::after {
      opacity: 1;
    }

    /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

    @include responsive(tab-port) {
      /* Display & Box Model */
      grid-template-columns: repeat(1, 1fr);
    }

    /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
    */
  }

  &__button {
    /*
    * Make it so this goes in front of
    * the radial gradient on the ::after.
    *
    * It is necessary to define a position
    * for this element to make is enter
    * the stacking context.
    */
    position: inherit;
    z-index: 3;
  }
}
