/* Positioning */
/* Display & Box Model */
/* Other */

.btn {
  /* Positioning */
  padding: 0.5em 1em;

  @include responsive(tab-land) {
    padding: 1em 1.5em;
  }

  /* Other */
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700;

  &-affluent {
    /* Other */
    background: linear-gradient(
      to bottom,
      var(--color-affluent-400),
      var(--color-primary-400)
    );
    color: var(--color-secondary-300);
    transition: all 0.1s;

    &:hover {
      /* Other */
      background: linear-gradient(
        to bottom,
        darken($color-affluent-400, 5%),
        darken($color-primary-400, 5%)
      );
    }
  }

  &-alt-300 {
    /* Other */
    border: 0.1rem solid rgba($color-secondary-300, 0.1);
    color: var(--color-secondary-300);
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color: $color-secondary-400, $alpha: 0.1);
    }
  }

  &-alt-400 {
    /* Other */
    border: 0.1rem solid var(--color-secondary-300);
    color: var(--color-secondary-300);
    transition: all 0.2s;

    &:hover {
      -webkit-box-shadow: 0px 0px 15px rgba($color-secondary-300, 0.5);
      -moz-box-shadow: 0px 0px 15px rgba($color-secondary-300, 0.5);
      box-shadow: 0px 0px 15px rgba($color-secondary-300, 0.5);
    }
  }
}
