/* Display & Box Model */
/* Positioning */
/* Other */

.modern-card {
  --card-color: rgb(14, 14, 14);

  /* Display & Box Model */
  //width: 30rem;
  //height: 30rem;
  padding: var(--padding-cards);

  /* Positioning */
  position: relative;

  /* Other */
  background-color: rgba($color-secondary-300, 0.15);
  border-radius: 10px;
  cursor: pointer;

  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

  @include responsive(big-desktop) {
    /* Display & Box Model */
    padding: var(--padding-cards);
  }

  @include responsive(phone) {
    /* Display & Box Model */
    padding: 20rem;
  }

  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */

  &::before,
  &::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;

    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;

    pointer-events: all;
  }

  &::before {
    /* Positioning */
    z-index: 3;

    /* Other */
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.06),
      transparent 40%
    );
  }

  &::after {
    /* Positioning */
    z-index: 1;

    /* Other */
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.4),
      transparent 40%
    );
  }

  &__content {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    flex-direction: column;
    gap: 2rem;
    inset: 1px;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    z-index: 2;

    /* Other */
    background-color: var(--card-color);
    border-radius: inherit;

    p {
      align-self: flex-start;
    }

    svg {
      /* Display & Box Model */
      display: inline-block;
      height: 6rem;
      width: 6rem;

      /* Other */
      fill: var(--color-secondary-400);
      transition: all 0.2s;

      /*
      * Maximize top left icon.
      */

      &:first-child {
        /* Display & Box Model */
        display: inline;
        height: 2.5rem;
        width: 2.5rem;

        /* Positioning */
        inset: 1rem 1rem auto auto;
        position: absolute;

        /* Other */
        opacity: 0;
        transition: opacity 0.15s;
      }
    }
  }

  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */

  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */

  &:hover::before {
    opacity: 1;
  }

  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */

  &:hover &__content svg:first-child {
    opacity: 0.5;
  }

  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */
}
