/* Display & Box Model */
/* Positioning */
/* Other */

.modern-card {
  --card-color: rgb(14, 14, 14);

  /* Display & Box Model */
  display: flex;

  /* Positioning */
  position: relative;

  /* Other */
  background-color: var(--card-color);
  border-radius: 10px;
  cursor: pointer;

  &__content {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;

    /* Positioning */
    position: relative;
    gap: 3rem;

    padding: var(--padding-cards);

    /* Other */
    background-color: transparent;
    border-radius: inherit;

    /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */

    &::before {
      /* Display & Box Model */
      content: "";
      display: block;

      /* Positioning */
      position: absolute;
      inset: 0.1rem;
      z-index: 2;

      /* Other */
      background-color: var(--card-color);
      border-radius: var(--default-border-radius);
    }

    /*
    ==========================================================================
    PSEUDO - e
    ==========================================================================
    */
  }

  &__image {
    /* Display & Box Model */
    max-height: 20rem;

    /* Positioning */
    z-index: 3;
    position: relative;

    /* Other */
    background-color: red;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    -webkit-filter: grayscale(35%);
    filter: grayscale(35%);

    img {
      /* Display & Box Model */

      /* Positioning */
      /* Other */
    }

    &::after {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 100%;
      width: 100%;

      /* Positioning */
      position: absolute;
      inset: 0;

      /* Other */
      background-color: var(--color-primary-700);
      opacity: 0.2;
    }
  }

  &__body {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    z-index: 3;
    justify-content: space-between;

    /* Other */
  }

  &__text {
    /* Display & Box Model */

    /* Positioning */
    align-self: center;

    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    &--heading {
      /* Other */
      font-size: 2.5rem;
    }

    &--paragraph {
      font-weight: 100;
      line-height: 1.2;
      font-size: 1.8rem;
    }
  }

  &__icons {
    /* Display & Box Model */

    /* Positioning */
    align-self: flex-end;

    &--maximize {
      /* Display & Box Model */

      /* Positioning */
      inset: 1rem;
      position: absolute;

      /* Other */
      fill: var(--color-secondary-300);
      transition: opacity 0.15s;
      opacity: 0;

      svg {
        /* Display & Box Model */
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &--arrow {
      /* Display & Box Model */
      display: flex;

      /* Positioning */
      justify-content: center;
      align-items: center;
      padding: 0.5rem;

      /* Other */
      fill: var(--color-secondary-300);
      background-color: rgba($color-secondary-300, 0.1);
      border-radius: 200px;

      svg {
        /* Display & Box Model */
        height: 4rem;
        width: 4rem;
      }
    }
  }

  /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */

  &::before,
  &::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;

    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;

    pointer-events: all;
  }

  &::before {
    /* Positioning */
    z-index: 3;

    /* Other */
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.06),
      transparent 40%
    );
  }

  &::after {
    /* Positioning */
    z-index: 1;

    /* Other */
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.6),
      transparent 40%
    );
  }

  /*
      ==========================================================================
      PSEUDO - e
      ==========================================================================
    */

  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */

  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */

  &:hover::before {
    opacity: 1;
  }

  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */

  &:hover &__icons--maximize {
    opacity: 0.35;
  }

  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */

  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */
}

.modern-card--alt {
  --card-color: rgb(14, 14, 14);

  /* Display & Box Model */

  /* Positioning */
  position: relative;

  /* Other */
  background-color: var(--card-color);
  border-radius: 10px;

  &__content {
    /* Display & Box Model */
    width: 100%;
    display: flex;

    /* Positioning */
    justify-content: space-between;
    position: relative;
    gap: 3rem;

    padding: var(--padding-cards);

    /* Other */
    background-color: transparent;
    border-radius: inherit;

    /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */

    &::before {
      /* Display & Box Model */
      content: "";
      display: block;

      /* Positioning */
      position: absolute;
      inset: 0.1rem;
      z-index: 2;

      /* Other */
      background-color: var(--card-color);
      border-radius: var(--default-border-radius);
    }

    /*
    ==========================================================================
    PSEUDO - e
    ==========================================================================
    */
  }

  &__image {
    /* Display & Box Model */
    max-width: 25rem;

    /* Positioning */
    z-index: 3;
    position: relative;

    /* Other */
    background-color: red;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    -webkit-filter: grayscale(35%);
    filter: grayscale(35%);

    img {
      /* Display & Box Model */

      /* Positioning */
      /* Other */
    }

    &::after {
      /* Display & Box Model */
      content: "";
      display: block;
      height: 100%;
      width: 100%;

      /* Positioning */
      position: absolute;
      inset: 0;

      /* Other */
      background-color: var(--color-primary-700);
      opacity: 0.2;
    }
  }

  &__body {
    /* Display & Box Model */
    display: flex;

    /* Positioning */
    flex-direction: column;
    z-index: 3;
    justify-content: space-between;

    /* Other */
  }

  &__text {
    /* Display & Box Model */

    /* Positioning */

    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    &--heading {
      /* Other */
      font-size: 2.5rem;
    }

    &--paragraph {
      font-weight: 100;
      line-height: 1.2;
      font-size: 1.8rem;
    }
  }

  &__icons {
    /* Display & Box Model */

    /* Positioning */
    align-self: flex-end;

    &--maximize {
      /* Display & Box Model */

      /* Positioning */
      inset: 1rem;
      position: absolute;

      /* Other */
      fill: var(--color-secondary-300);
      transition: opacity 0.15s;
      opacity: 0;

      svg {
        /* Display & Box Model */
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &--arrow {
      /* Display & Box Model */
      display: flex;

      /* Positioning */
      justify-content: center;
      align-items: center;
      padding: 0.5rem;

      /* Other */
      fill: var(--color-secondary-300);
      background-color: rgba($color-secondary-300, 0.1);
      border-radius: 200px;

      svg {
        /* Display & Box Model */
        height: 4rem;
        width: 4rem;
      }
    }
  }

  /*
    ==========================================================================
    PSEUDO - b
    ==========================================================================
    */

  &::before,
  &::after {
    /* Display & Box Model */
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    /* Positioning */
    left: 0;
    position: absolute;
    top: 0;

    /* Other */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;

    pointer-events: all;
  }

  &::before {
    /* Positioning */
    z-index: 3;

    /* Other */
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.06),
      transparent 40%
    );
  }

  &::after {
    /* Positioning */
    z-index: 1;

    /* Other */
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba($color-secondary-300, 0.6),
      transparent 40%
    );
  }

  /*
      ==========================================================================
      PSEUDO - e
      ==========================================================================
    */

  /*
    ==========================================================================
    MOTION - b
    ==========================================================================
    */

  /*
  * Radial gradient background selector.
  *
  * When card is hovered, the gradient appears.
  */

  &:hover::before {
    opacity: 1;
  }

  /*
  * Maximize icon hover.
  *
  * When card is hovered, the icon appears.
  */

  &:hover &__icons--maximize {
    opacity: 0.35;
  }

  /*
      ==========================================================================
      MOTION - e
      ==========================================================================
    */

  /*
    ==========================================================================
    MEDIA QUERIES - b
    ==========================================================================
    */

  /*
    ==========================================================================
    MEDIA QUERIES - e
    ==========================================================================
  */
}
