/* Positioning */
/* Display & Box Model */
/* Other */

.primary-text {
  /* Other */
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;

  @include responsive(phone) {
    font-size: 5rem;
  }

  &__gradient--300 {
    background-image: linear-gradient(
      to right bottom,
      $color-affluent-400,
      $color-primary-400 40%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.secondary-text {
  /* Other */
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;

  @include responsive(phone) {
    font-size: 2rem;
  }

  &__affluent {
    color: var(--color-affluent-400);
  }

  &__gradient--300 {
    background-image: linear-gradient(
      to right bottom,
      $color-affluent-400,
      $color-primary-400 40%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.tertiary-text {
  /* Other */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;

  @include responsive(phone) {
    font-size: 1.5rem;
  }

  &__affluent {
    color: var(--color-affluent-400);
  }
}

.paragraph {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.8rem;
  opacity: 1;

  &-tiny {
    line-height: 1.2;
    font-size: 1.5rem;
  }
}
