/* Layout */

.text-container {
  /* Display & Box Model */
  display: flex;

  /* Positioning */
  flex-direction: column;
  align-items: center;

  /* Other */

  &__content {
    /* Display & Box Model */
    max-width: 65rem;

    /* Other */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

/* Spacing */

.mb-100 {
  margin-bottom: 1rem !important;
}

.mb-300 {
  margin-bottom: 3rem !important;
}

.mb-400 {
  margin-bottom: 4.5rem !important;
}

.mb-700 {
  margin-bottom: 7.5rem !important;
}

.mb-900 {
  margin-bottom: 12rem !important;
}

/* Display & Box Model */

// --- FLEXBOX

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

/* Text */

.text-light {
  font-weight: 100 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-black {
  font-weight: 900 !important;
}

.l-spacing-300 {
  line-height: 3.5rem !important;
}

.align-center {
  text-align: center !important;
}

/* Color */

.color {
  &-affluent-400 {
    color: var(--color-affluent-400);
  }
}

.faded {
  opacity: 0.8 !important;
}

/* Other */

.visually-hidden {
  visibility: hidden !important;
}

.glow {
  &-little {
    -webkit-text-shadow: 0px 0px 25px rgba($color-affluent-400, 1);
    -moz-text-shadow: 0px 0px 25px rgba($color-affluent-400, 1);
    text-shadow: 0px 0px 25px rgba($color-affluent-400, 1);
  }
}
