/* Display & Box Model */
/* Positioning */
/* Other */

.our-numbers {
  /* Display & Box Model */
  max-width: var(--default-section-size);

  /* Positioning */
  margin: 12rem auto;

  /* Other */

  &:hover > *::after {
    opacity: 1;
  }
}
